.login-container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 5rem 1rem;
  max-width: 30rem;
  position: absolute;
  top: 6rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.login-container > * {
  width: 100%;
}

.tab-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.tab-form > *{
  width: 100%;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-row > * {
  width: 100%;
}

.mat-form-field {
  margin-top: 0.4rem;
}

.login-button {
  font-size: 1.4rem;
}

.big-error {
  font-size: 1.2rem;
  text-align: center;
}

@media screen and (max-height: 700px) {
  .login-container {
    top: 4.1rem;
  }
}

@media screen and (min-height: 512px) {
  .login-container {
    overflow:hidden;
  }
}