<div class="login-container">
  <mat-tab-group (selectedTabChange)="onTabChange($event)" mat-stretch-tabs="always">
    <mat-tab label="Log in">
      <form [formGroup]="logInForm">
        <div class="tab-form">
          <mat-error class="big-error">{{ error }}</mat-error>
          <mat-form-field>
            <input #username matInput placeholder="Username" formControlName="username" spellcheck="false">
            <mat-error *ngIf="logInForm.get('username').invalid">{{ getUsernameErrorMessage() }}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input #password matInput placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="logInForm.get('password').invalid">{{ getPasswordErrorMessage() }}</mat-error>
          </mat-form-field>
        </div>
      </form>
    </mat-tab>
    <mat-tab style="font-size: 2rem" label="Sign up">
      <form [formGroup]="signUpForm">
        <div class="tab-form">
          <mat-error class="big-error">{{ error }}</mat-error>
          <mat-form-field>
            <input #newUsername matInput placeholder="Username" spellcheck="false" formControlName="newUsername">
            <mat-error *ngIf="signUpForm.get('newUsername').invalid">{{ getNewUsernameErrorMessage() }}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input #newPassword matInput placeholder="Password" formControlName="newPassword" [type]="hide2 ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="signUpForm.get('newPassword').invalid">{{ getNewPasswordErrorMessage() }}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Confirm password" formControlName="confirmPassword" [type]="hide3 ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide3 = !hide3">{{hide3 ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="signUpForm.get('confirmPassword').invalid">{{ getConfirmPasswordErrorMessage() }}</mat-error>
          </mat-form-field>
        </div>
      </form>
    </mat-tab>
  </mat-tab-group>
  <mat-progress-bar class="progress-bar" color="primary" [mode]="progressMode" [style.visibility]="progressDisplay">
  </mat-progress-bar>
  <div class="button-row">
    <button class="login-button" mat-raised-button [disabled]="disabled" color="primary" (click)="continueClick()">Continue</button>
  </div>
  <mat-progress-bar class="progress-bar" color="primary" [mode]="progressMode" hide="true" [style.visibility]="progressDisplay">
  </mat-progress-bar>
</div>