.login-container {
    display: flex;
    flex-direction: column;
    padding: 5rem 1rem 5rem 1rem;
    max-width: 30rem;
    margin: auto;
  }
  
  .login-container > * {
    width: 100%;
  }

  .tab-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .tab-form > *{
    width: 100%;
  }

  .button-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .button-row > * {
    width: 100%;
  }

  mat-form-field {
    margin-top: 1em;
  }